
<% layout('layouts/boilerplate') %>

<div class="container">
    <h2>Mes citations favorites</h2>

    <% for (let u of user.favorites){%>
           

        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Détails Citation</h5>
              <h6 class="card-subtitle mb-2 text-muted">Auteur : <%= u.author%></h6>
              <h6 class="card-subtitle mb-2 text-muted">Livre : <%= u.book%></h6>
              <h6 class="card-subtitle mb-2 text-muted">Année de publication : <%= u.year%></h6>
              <h6 class="card-subtitle mb-2 text-muted">bloc de citation publié par : <%= u.publisher %></h6>
              <p class="card-text">citation : <%= u.description%></p>
        
            </div>
          </div>
    <%}%> 


</div>


<button type="button" class="btn btn-success"><a href="/quotes" style="text-decoration:none;color:white;">Retour à toute les citation</a></button>