<% layout('layouts/boilerplate') %>

<%- include('../partials/search')%>

<div class="d-flex">
    <h1 class="pr-2">Liste des citations</h1>
    <button type="button" class="btn btn-outline-primary mx-4"><a href="/quotes/new">Ajouter une nouvelle citation</a></button>
</div>

    <ul>
        <% for (let quote of quotes){%>

            <div class="card mb-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= quote.book%></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= quote.author%></h6>
                  <p class="card-text"><p><%= quote.description%></p>
                  <a href="/quotes/<%= quote._id%>" class="card-link">Voir détails</a>
                  <a href="#" class="card-link">Ajouter en favoris</a>
                </div>
              </div>


            <%}%> 
    </ul>



